* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c3e50;
}

button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-align: center;
  font-weight: 500;
  border: 2px solid #2ecc71;
  color: #2ecc71;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

button:focus,
button:hover {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 40px 40px #2ecc71 inset;
}

button:active {
  transform: scale(0.99);
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
